@page "/"
@inject HttpClient Http
@inject IJSRuntime jsRuntime


<div id="chart" style="width: 98%;"></div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        var ChartTitle = "Blazor CandleStick Chart";

        var response = await Http.GetFromJsonAsync<List<ChartsData>>("api/Charts");

        await jsRuntime.InvokeVoidAsync("ChartResult.starts", response, ChartTitle);
    }
}